<!DOCTYPE html>
<html lang="en">
<head>
  <title>User Registration</title>
  <h2> User Registration</h2>
</head>
<body>

    <form action="/" method="POST" style="margin:100px;">
        <input type="text" id="username" name="username" placeholder="Username">
        <input type="password" id="password" name="password" placeholder="Password">
        <input type="submit" value="Submit">
    </form>

      <ul>
        <li>
          Username should accept alphanumeric characters, be no less than 5 characters and be unique.
        </li>
        <li>
          Password should have a minimum length of 8 characters and contains at least 1 number, 1
          uppercase, and 1 lowercase character.
        </li>
      </ul>


</body>

</html>
